//Color Variables

$pink: #e44d93; // PANTONE 1895C
$purple-base: #ed83ed; // PANTONE 2085C
$purple-point: #5a459e; // PANTONE 2635C
$purple-dark: #251d41; // PANTONE 2635C
$yellow: #f3d147; // PANTONE 1205C