.description {
    background: $purple-dark;
    color: white;
    padding: 20px;
    text-align: center;

    .description-text {
        padding: 20px;
        h1 {
            padding: 20px;
        }
    }

    .description-images {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: auto;
        justify-content: space-between;
        padding: 20px;

        .description-img1, .description-img2, .description-img3 { 
            max-width: 30%;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            img {
                padding-bottom: 20px;
                height: 550px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}