.hero {
    width: 100%;
    border-radius: 20px 20px 0 0 ;
    background: $purple-dark;
    display: flex;
    flex-direction: row;
    color: white;

    .hero-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 20px;

        section {
            display: flex;
        }

    }
    .image-section {
        position: relative;
        margin: auto 20px;
        padding: 15px;
        width: 50%;
        
        img {
            width: 100%;
            height: 550px;
            object-fit: cover;
            object-position: bottom;
            border-radius: 20px;
        }
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin: 20px auto;
        text-align: center;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 425px) {
    .hero {
        width: 150%;
        display: flex;
    
        .hero-description {
            display: flex;
            justify-content: center;
    
            section {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }
        }

        .image-section {
            position: relative;
            margin: auto 20px;
            padding: 15px;
            width: 90%;
            
            img {
                width: 100%;
                height: 550px;
                object-fit: cover;
                object-position: bottom;
                border-radius: 20px;
            }
        }
    
        .content {
            width: 150%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: 20px auto;
            text-align: center;

            h1 {
                font-size: 3em;
                padding: 20px;
            }
        }
    }
}