.heading {
    margin: auto;
    text-align: center;
    color: white;
    background: $purple-dark;
    padding: 20px;
}

.how-it-works {
    display: flex;

    .works {
        padding: 20px;
        width: 25%;
        text-align: center;
        background: $purple-dark;
        color: white;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}