.heading {
    margin: auto;
    text-align: center;
    color: white;
    background: $purple-dark;
    padding: 20px;
}

.how-it-works {
    display: flex;

    .works {
        width: 25%;
        text-align: center;
        background: $purple-dark;
        color: white;
        padding: 0 20px;

        img {

            border-radius: 10px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            margin-bottom: 10px;
        }
    }
}

.buy-product {
    padding: 25px;
    display: flex;
    align-items: center;
    background: $purple-dark;

    .prod-bg {
        width: 60%;
        height: 650px;
        padding: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: center;
        color: white;
        background: url('../media/images/pink/30.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px;

        .prod-text {
            color: black;
            font-size: 1.5em;
            font-weight: 300;
            padding: 20px;
        }
        
    }
}